<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">


	<profiles>
    	<profile>
    		<id>jdk_version</id>
    		<properties>
    			<JDK_1_8_HOME>D:\ProgramFiles\Java\jdk1.8.0_40</JDK_1_8_HOME>
    		</properties>
      	</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>jdk_version</activeProfile>
	</activeProfiles>


</settings>