<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebCommApp" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>WebComm</display-name>
	<mime-mapping>
		<extension>js</extension>
		<mime-type>text/javascript</mime-type>
	</mime-mapping>
	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<jsp-config>
		<!-- <taglib> <taglib-uri>/WEB-INF/tags/</taglib-uri> <taglib-location>/WEB-INF/tags/</taglib-location> 
			</taglib> -->
	</jsp-config>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>


	<filter>
		<filter-name>monitoring</filter-name>
		<filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>monitoring</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<description>Application initializator and finisher</description>
		<listener-class>com.webComm.web.listener.StartupListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>WebComm REST Service ver 0.1</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.webComm.rest</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>

		<init-param>
			<param-name>resteasy.scan.providers</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>resteasy.use.builtin.providers</param-name>
			<param-value>false</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>WebComm REST Service ver 0.1</servlet-name>
		<url-pattern>/api/v0.1/rest/*</url-pattern>
	</servlet-mapping>

</web-app>